@import './node_modules/mini.css/dist/mini-default';

$background-color: #f1f1f1;
$border-color: #eeeeee;
$card-bg-color: #ffffff;
$blog-footer-background: #f8f8f8;
$table-boarder-color: #f0f0f0;

body {
  padding: 20px;
  background: $background-color;
}

/* Header/Blog Title */
.blog-header {
  padding: 20px;
  margin-bottom: 20px;
  background-color: $blog-footer-background;
}

.blog-footer {
  padding: 20px;
  margin-top: 20px;
  background-color: $blog-footer-background;
}

/* Add a card effect for articles */
.blog-card {
  background-color: $card-bg-color;
  padding: 20px;

  & .blog-card-listing p {
    line-height: 2.2em;
  }

  & ul {
    padding: 0;

    & li {
      padding: 0;
      margin: 0;
      list-style: none;
    }
  }
}

.rightcolumn {
  & .blog-card {
    background-color: $blog-footer-background;
  }
}

/* Clear floats after the columns */
.row:after {
  content: '';
  display: table;
  clear: both;
}

/** Blog View Page */
.blog-post {
  background: $card-bg-color;
  padding: 20px;

  & .blog-heading {
    margin: 10px auto;
  }

  & .category-tags {
    margin-top: 1em;
    padding: 10px;
  }

  & .blog {
    padding: 10px;
    margin-top: 2em;
  }
}

/** Admin Page **/

.admin-table {
  margin-top: 10px;
  max-height: 800px !important;

  & .highlight {
    background: aliceblue !important;
  }
}
